@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacques+Francois&family=Montserrat:ital,wght@0,301;1,301&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    color: #000000;
}
.red-background{
    background-color: #C9072A;
    color:#FFFFFF;
    font-family: Jacques Francois;
    font-size: 88px;
}
.login-sign-background{
    display: block;
    margin-top: 50px;
}
.login-sign-background h2{
    margin-bottom: 50px;
}
.login-sign-card{
    background-color: #D9D9D9;
    width: 573px;
    height: 850px;
    border-radius: 25px;
}
.login-sign-card form input{
    display: block;
}
.login-sign-card form input{
    margin-bottom: 80px;
    width: 534px;
    height: 80px;
    position: relative;
    top: 50px;
    border: none;
    border-radius: 10px;
    font-family: Jacques Francois;
    font-size: 30px;
    padding-left: 40px; 
    color:#000000;
}
.login-sign-button{
    width: 368px;
    height: 66px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-family: Jacques Francois;
    font-size: 30px;

}
.login-sign-button:hover{
    cursor: pointer;
}
.login-sign-card p{
    font-size: 30px;
}
#login-lang{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 320px;
}
#sign-lang{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
}
#logo img{
    max-width: 152px; 
    max-height: 110px;
}
header{
    display: flex;
    width: 100%;
    height: 110px;
    background-color: #C9072A;
}
#title-web{
    display: flex;
    width: 280px;
    height: 50px;
    position: absolute;
    left: 45vw;
}
#title-web p{
    text-align: center;
    color: #FFFFFF;
    font-family: Jacques Francois;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.65px;
    letter-spacing: 0%;
    padding-top: 30px;
}
#WELSH:hover{
    cursor: pointer;
}
#EN:hover{
    cursor: pointer;
}
#burger-menu{
    width: 80px;
    height: 81px;
    position: absolute;
    right: 1px;
    
}
#burger-menu p{
    color: #FFFFFF;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}
#burger-menu:hover{
    cursor: pointer;
}
#nav-bar-constructor{
    width: 40%;
    height: 122.4vh;
    background-color: #C9072A;
    margin-left: 20%;
    position: relative;
    z-index: 1;
}
nav ul{
    visibility: hidden;
    list-style: none;
    position: absolute;
    top:20%;
    left: 35%;
    width: 400px;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 45px;
    line-height: 100px;
    text-align: center;
}
nav ul li a:hover{
    transition: 0.5s;
    font-size: 50px;
}
#nav-bar-constructor{
    visibility: hidden;
    position: absolute;
    right: 0;
}
.white-scene{
    width: 100%;
    height: 122.4%;
    background-color: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}
#home_page_img{
    max-width: 100%;
    max-height: 48.25rem;
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
}
#home_page_img img{
    width: 100%;
    height: 48.25rem;
    display: block;
    filter: opacity(50%);
}
#home_mainText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 934px;
    height: 187px;

}
#home_mainText p{
    font-family: Jacques Francois;
    font-weight: bold;
    font-size: 94px;
    line-height: 84.41px;
    letter-spacing: 0%;
}
main{
    display: block;
}
main form{
    margin-left: 2.75rem;
    margin-top: 2.5rem;
    width: 700px;
    height: 16rem;
    margin-bottom: 33px;
}
main form label{
    font-family: Jacques Francois;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.65px;
    letter-spacing: 0%;
    color: #C9072A;
}
main form input{
    border: 1px solid #000000;
}
main form #email{
    width: 100%;
    height: 20px;
    margin-bottom: 1rem;
    background-color: #D9D9D9;    ;
}
main form #message{
    width: 100%;
    height: 8rem;
    margin-bottom: 1rem;
    background-color: #D9D9D9
}
main form textarea{
    resize: none;
    border: 1px solid #000000;
}
#submit-main-home{
    width: 7.375rem;
    height: 2.5rem;
    border-width: 1px;
    border-radius: 50px;
}

footer{
    position: relative;
    bottom: 0px;
    background-color: #C9072A;
    height: 389px;
    color: #FFFFFF;
}
#contact-info{
    width: 531px;
    height: 124px;
    text-align: center;
    font-family: Jacques Francois;
    
}
#contact-info a{
    text-decoration: none;
    color: #FFFFFF;
    cursor:default;
}
#contact-info-title{
    font-size: 32px;
    font-family: Jacques Francois;
}
#conctact-info-text{
    font-size: 20px;
    font-weight: 400;
}
#open-hour{
    width: 300px;
    height: 124px;
    text-align: center;
    font-family: Jacques Francois;
}
#open-hour-title{
    font-size: 32px;
    padding-bottom: 30px;
}
#open-hour-text{
    font-size: 20px;
}
#Copyright-symbol{
    font-size: 20px;
    margin-top: 100px;
}
#social-media{
    position: absolute;
    bottom: 100px;
    left: 129px;
    text-align: center;
    font-family: Jacques Francois;
    font-size: 20px;
}
#social-media img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}
#social-media-title{
    font-size: 32px;
    margin-bottom: 23px;
}
#social-media p{
    padding-left: 10px;
    text-align: center;
    font-weight:lighter;
}
#social-media a{
    text-decoration: none;
    color: #FFFFFF;
}
.flex{
    display: flex;
}
#Legal-and-Policies{
    position: absolute;
    right: 129px;
    bottom: 40px;
    font-family: Jacques Francois;
    font-size: 20px;
}
#Legal-title{
    font-size: 32px;
    margin-bottom: 23px;
    text-align: center;
}
#legal-text a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 26.38px;
}